# Ordenação de dados
***

A ordenação de dados é uma etapa fundamental na análise de dados, pois permite organizar as informações de forma estruturada e facilitar a compreensão dos padrões, tendências e insights presentes nos dados. A ordenação é particularmente útil quando lidamos com conjuntos de dados grandes, nos quais a visualização e interpretação das informações podem se tornar mais desafiadoras sem uma ordem adequada.

Existem várias razões pelas quais a ordenação é importante na análise de dados:

<input type="checkbox" checked disabled> **Identificação de padrões:** identifica facilmente padrões crescentes, decrescentes ou repetitivos. Esses padrões podem fornecer informações valiosas sobre o comportamento dos dados e ajudar a identificar tendências ou anomalias.

<input type="checkbox" checked disabled> **Análise comparativa:** facilita a comparação de diferentes elementos dos dados. Por exemplo, ao ordenar uma coluna de valores de vendas, podemos identificar os produtos mais vendidos ou os clientes com maior volume de compras.

<input type="checkbox" checked disabled> **Facilidade de busca:** Com os dados organizados, é mais fácil localizar informações específicas. Ao realizar buscas ou consultas em um conjunto de dados ordenado, podemos encontrar rapidamente elementos específicos, como o valor máximo, mínimo ou um intervalo específico.

<input type="checkbox" checked disabled> **Visualização mais clara:** A ordenação dos dados pode tornar a visualização mais clara e compreensível. Gráficos e tabelas podem se beneficiar de dados ordenados, fornecendo uma representação visual mais intuitiva e facilitando a interpretação dos resultados. A ordenação dos dados pode tornar a visualização mais clara e compreensível. Gráficos e tabelas podem se beneficiar de dados ordenados, fornecendo uma representação visual mais intuitiva e facilitando a interpretação dos resultados.

#### Importando as Bibliotecas

In [1]:
import pandas as pd

#### Coletando Dados de Perfil
***

In [2]:
df = pd.read_csv(r'..\datasets\perfil_clientes.csv', sep = ';')

In [3]:
df

,idade,classe_trabalho,escolaridade,anos_estudo,estado_civil,raca,sexo,UF,região,qtde_filhos,salario
0,39,Servidor Público,Ensino Médio Completo,13,Solteiro,Branco,Masculino,RO,Norte,2.0,4754
1,50,Autônomo,Superior Incompleto,13,Casado,Branco,Masculino,AC,Norte,1.0,3923
2,38,Funcionário Setor Privado,Ensino Médio Incompleto,9,Divorciado,Branco,Masculino,AM,Norte,0.0,1100
3,53,Funcionário Setor Privado,Ensino Médio Incompleto,7,Casado,Negro,Masculino,RR,Norte,1.0,1100
4,28,Funcionário Setor Privado,Ensino Médio Completo,13,Casado,Negro,Feminino,PA,Norte,0.0,3430
...,...,...,...,...,...,...,...,...,...,...,...
7994,23,Funcionário Setor Privado,Ensino Médio Completo,10,Casado,Negro,Masculino,AL,Nordeste,3.0,2856
7995,19,Funcionário Setor Privado,Ensino Médio Incompleto,9,Solteiro,Branco,Feminino,SE,Nordeste,1.0,1100
7996,44,NaN,Ensino Médio Completo,10,Casado,Branco,Masculino,BA,Nordeste,0.0,3729
7997,20,Funcionário Setor Privado,Ensino Médio Incompleto,9,Solteiro,Negro,Masculino,MG,Sudeste,0.0,1100
7998,41,Funcionário Setor Privado,Ensino Médio Completo,13,Casado,Branco,Masculino,AP,Norte,1.0,2579

#### Método sort_values
***
Este método permite ordenar um DataFrame ou uma Series com base nos valores de uma ou mais colunas. É possível especificar a ordem ascendente ou descendente e definir colunas secundárias para a ordenação.

In [4]:
df_ordenado = df.sort_values(by = 'idade', ascending=False)
df_ordenado.head()

,idade,classe_trabalho,escolaridade,anos_estudo,estado_civil,raca,sexo,UF,região,qtde_filhos,salario
5361,90,Aposentado,Mestrado,14,Casado,Branco,Masculino,MT,Centro-Oeste,1.0,3217
5095,90,Aposentado,Ensino Médio Completo,10,Solteiro,Pardo,Masculino,AC,Norte,2.0,3640
1927,90,Aposentado,Ensino Médio Completo,13,Casado,Branco,Masculino,RJ,Sudeste,0.0,1914
5263,90,Aposentado,Ensino Fundamental Completo,5,Solteiro,Branco,Feminino,MA,Nordeste,3.0,2463
2295,90,Aposentado,Ensino Médio Completo,10,Solteiro,Pardo,Masculino,PI,Nordeste,1.0,1926

#### Ordenação por Múltiplos Critérios
***

In [5]:
ordena = ['anos_estudo','UF']
df.sort_values(by=ordena)

,idade,classe_trabalho,escolaridade,anos_estudo,estado_civil,raca,sexo,UF,região,qtde_filhos,salario
3583,39,NaN,Analfabeto,1,Viúvo,Branco,Feminino,AC,Norte,4.0,1100
3437,33,Funcionário Setor Privado,Analfabeto,1,Casado,Branco,Masculino,ES,Sudeste,0.0,1100
6424,27,Funcionário Setor Privado,Analfabeto,1,Casado,Branco,Masculino,MA,Nordeste,4.0,1100
7061,30,Funcionário Setor Privado,Analfabeto,1,Solteiro,Branco,Masculino,MS,Centro-Oeste,4.0,1100
223,53,Empresário,Analfabeto,1,Solteiro,Branco,Feminino,PI,Nordeste,0.0,6333
...,...,...,...,...,...,...,...,...,...,...,...
6350,75,Aposentado,Doutorado,16,Casado,Negro,Masculino,SE,Nordeste,0.0,3845
5302,36,Autônomo,Doutorado,16,Solteiro,Branco,Masculino,SP,Sudeste,5.0,9658
7111,47,Autônomo,Doutorado,16,Casado,Branco,Masculino,SP,Sudeste,4.0,14130
3102,45,Funcionário Setor Privado,Doutorado,16,Casado,Branco,Masculino,TO,Norte,0.0,13707
7286,31,Servidor Público,Doutorado,16,Casado,Branco,Masculino,TO,Norte,0.0,11760

In [6]:
ordena = ['anos_estudo','idade']
df.sort_values(by=ordena, ascending=[False,True])

,idade,classe_trabalho,escolaridade,anos_estudo,estado_civil,raca,sexo,UF,região,qtde_filhos,salario
566,27,Funcionário Setor Privado,Doutorado,16,Solteiro,Branco,Feminino,MA,Nordeste,5.0,10668
7210,27,Funcionário Setor Privado,Doutorado,16,Solteiro,Branco,Feminino,PB,Nordeste,4.0,15410
2276,29,Funcionário Setor Privado,Doutorado,16,Solteiro,Branco,Masculino,MG,Sudeste,0.0,15999
5968,29,NaN,Doutorado,16,Casado,Branco,Masculino,RN,Nordeste,5.0,2
6955,29,Funcionário Setor Privado,Doutorado,16,Casado,Pardo,Masculino,GO,Centro-Oeste,3.0,10482
...,...,...,...,...,...,...,...,...,...,...,...
924,51,Empresário,Analfabeto,1,Casado,Branco,Masculino,SE,Nordeste,4.0,9263
4098,52,Funcionário Setor Privado,Analfabeto,1,Casado,Branco,Masculino,RR,Norte,1.0,1100
223,53,Empresário,Analfabeto,1,Solteiro,Branco,Feminino,PI,Nordeste,0.0,6333
6855,54,Funcionário Setor Privado,Analfabeto,1,Casado,Branco,Masculino,TO,Norte,5.0,1100
2875,71,Aposentado,Analfabeto,1,Viúvo,Negro,Masculino,RS,Sul,1.0,3366

### Método sort_index
***
Este método permite ordenar um DataFrame ou uma Series com base nos índices. A ordenação é feita de forma ascendente por padrão.

In [7]:
df.sort_index()

,idade,classe_trabalho,escolaridade,anos_estudo,estado_civil,raca,sexo,UF,região,qtde_filhos,salario
0,39,Servidor Público,Ensino Médio Completo,13,Solteiro,Branco,Masculino,RO,Norte,2.0,4754
1,50,Autônomo,Superior Incompleto,13,Casado,Branco,Masculino,AC,Norte,1.0,3923
2,38,Funcionário Setor Privado,Ensino Médio Incompleto,9,Divorciado,Branco,Masculino,AM,Norte,0.0,1100
3,53,Funcionário Setor Privado,Ensino Médio Incompleto,7,Casado,Negro,Masculino,RR,Norte,1.0,1100
4,28,Funcionário Setor Privado,Ensino Médio Completo,13,Casado,Negro,Feminino,PA,Norte,0.0,3430
...,...,...,...,...,...,...,...,...,...,...,...
7994,23,Funcionário Setor Privado,Ensino Médio Completo,10,Casado,Negro,Masculino,AL,Nordeste,3.0,2856
7995,19,Funcionário Setor Privado,Ensino Médio Incompleto,9,Solteiro,Branco,Feminino,SE,Nordeste,1.0,1100
7996,44,NaN,Ensino Médio Completo,10,Casado,Branco,Masculino,BA,Nordeste,0.0,3729
7997,20,Funcionário Setor Privado,Ensino Médio Incompleto,9,Solteiro,Negro,Masculino,MG,Sudeste,0.0,1100
7998,41,Funcionário Setor Privado,Ensino Médio Completo,13,Casado,Branco,Masculino,AP,Norte,1.0,2579

In [8]:
df.sort_index(ascending=False)

,idade,classe_trabalho,escolaridade,anos_estudo,estado_civil,raca,sexo,UF,região,qtde_filhos,salario
7998,41,Funcionário Setor Privado,Ensino Médio Completo,13,Casado,Branco,Masculino,AP,Norte,1.0,2579
7997,20,Funcionário Setor Privado,Ensino Médio Incompleto,9,Solteiro,Negro,Masculino,MG,Sudeste,0.0,1100
7996,44,NaN,Ensino Médio Completo,10,Casado,Branco,Masculino,BA,Nordeste,0.0,3729
7995,19,Funcionário Setor Privado,Ensino Médio Incompleto,9,Solteiro,Branco,Feminino,SE,Nordeste,1.0,1100
7994,23,Funcionário Setor Privado,Ensino Médio Completo,10,Casado,Negro,Masculino,AL,Nordeste,3.0,2856
...,...,...,...,...,...,...,...,...,...,...,...
4,28,Funcionário Setor Privado,Ensino Médio Completo,13,Casado,Negro,Feminino,PA,Norte,0.0,3430
3,53,Funcionário Setor Privado,Ensino Médio Incompleto,7,Casado,Negro,Masculino,RR,Norte,1.0,1100
2,38,Funcionário Setor Privado,Ensino Médio Incompleto,9,Divorciado,Branco,Masculino,AM,Norte,0.0,1100
1,50,Autônomo,Superior Incompleto,13,Casado,Branco,Masculino,AC,Norte,1.0,3923
0,39,Servidor Público,Ensino Médio Completo,13,Solteiro,Branco,Masculino,RO,Norte,2.0,4754